<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.mapper.PlaceMapper">

    <!--根据placeId和sonId获取位置信息-->
    <select id="getFatherPlace" resultType="Place">
        select * from place where sonId is null;
    </select>

    <select id="getSonPlace" resultType="Place">
        select * from place where sonId = #{placeId};
    </select>

</mapper>
