<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sun.mapper.UserMapper">

    <select id="login" resultType="SystemUser">
        select * from sys_user where username = #{username};
    </select>

    <!--修改用户密码的功能-->
    <update id="updatePassword" parameterType="SystemUser">
        update sys_user
        <set>password = #{password}</set>
        where username = #{username};
    </update>

    <!--根据旧密码和用户名查询用户是否存在-->
    <select id="check" resultType="SystemUser">
        select * from sys_user where username = #{username} and password = #{password};
    </select>

</mapper>