<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>layuiAdmin 网站用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" th:href="@{/layuiadmin/layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{/layuiadmin/style/admin.css}" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">
      
      <div class="layui-card-body">
        <div style="padding-bottom: 10px;">
          <button class="layui-btn layuiadmin-btn-useradmin" data-type="batchdel">删除</button>
          <button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加</button>
        </div>

        <table id="demo" class="layui-table" lay-filter="back-manage"></table>

        <script type="text/html" id="toolBar">
          {{# if(d.kind=='0' || d.kind==null){ }}
          <div id="{{d.way_id}}" address="{{d.device_address}}" type="{{d.device_type}}" waystate="{{d.way_state}}" num="{{d.way_num}}" class="slider">
            理论课
          </div>
          {{# } else{ }}
          <div class="slider " lay-event="on" style="width: 60px">
            实践课
          </div>
          {{# } }}
        </script>

        <script type="text/html" id="imgTpl"> 
          <img style="display: inline-block; width: 50%; height: 100%;" src= {{ d.avatar }}>
        </script> 
        <script type="text/html" id="table-useradmin-webuser">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
      </div>
    </div>
  </div>

  <script th:src="@{/layuiadmin/layui/layui.js}"></script>
  <script>
  layui.config({
    base: '/layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'useradmin', 'table'], function(){
    var $ = layui.$
    ,form = layui.form
    ,table = layui.table;

    table.render({
      elem:'#demo',
      height: 350,
      url: "/back/reply",
      page:true,
      title:'学生评教题目表',
      limit:7,
      cols:[
        [
           {field: 'no',type: 'checkbox',fixed : 'left'}
          ,{type: 'numbers',field:'no' , title: '序号', align : 'center', fixed: 'left'}
          ,{field: 'title', title: '标题',align : 'center'}
          ,{field: 'content', title: '内容',align : 'center'}
          ,{field: 'weight', title: '权重',align : 'center'}
          ,{field: 'kind', title: '类型',align : 'center', toolbar: '#toolBar'}
          ,{fixed: 'right', sort:true, title: '操作', align: 'center', toolbar: '#table-useradmin-webuser', fixed : 'right'}
        ]
      ]
      ,parseData: function (res) {
        return {
          "code": res.code,
          "msg": res.msg,
          "data": res.payload.content,
          "count": res.payload.total
        };
      }
    });

    //监听头工具栏事件
    table.on('tool(back-manage)', function(obj){
      //获得当前行数据,获得 lay-event 对应的值
      var data = obj.data,layEvent = obj.event;
      if(layEvent === 'del'){
        layer.confirm('真的删除行么', function(index){
          obj.del(); //删除对应行（tr）的DOM结构
          layer.close(index);
          //向服务端发送删除指令
        });
      } else if(layEvent === 'edit'){
        layer.open({
          type: 2
          ,title: '编辑题目'
          ,content: '/back/updateEd'
          ,area: ['450px', '430px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
                    ,submitID = 'LAY-user-back-submit'
                    ,submit = layero.find('iframe').contents().find('#'+ submitID);

            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field; //获取提交的字段

              //提交 Ajax 成功后，静态更新表格中的数据
              //$.ajax({});
              table.reload('LAY-user-front-submit'); //数据刷新
              layer.close(index); //关闭弹层
            });

            submit.trigger('click');
          }
        });
      }
    });

  
    //事件
    var active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('LAY-user-manage')
        ,checkData = checkStatus.data; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择数据');
        }
        
        layer.prompt({
          formType: 1
          ,title: '敏感操作，请验证口令'
        }, function(value, index){
          layer.close(index);
          
          layer.confirm('确定删除吗？', function(index) {
            
            //执行 Ajax 后重载
            /*
            admin.req({
              url: 'xxx'
              //,……
            });
            */
            table.reload('LAY-user-manage');
            layer.msg('已删除');
          });
        });
      }
      ,add: function(){
        layer.open({
          type: 2
          ,title: '添加题目'
          ,content: '/back/add'
          ,maxmin: true
          ,area: ['450px', '430px']
          ,btn: ['确定', '取消']
          ,yes: function(index, layero){
            var iframeWindow = window['layui-layer-iframe'+ index]
            ,submitID = 'LAY-user-front-submit'
            ,submit = layero.find('iframe').contents().find('#'+ submitID);

            //监听提交
            iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
              var field = data.field; //获取提交的字段
              
              //提交 Ajax 成功后，静态更新表格中的数据
              //$.ajax({});
              table.reload('LAY-user-front-submit'); //数据刷新
              layer.close(index); //关闭弹层
            });  
            
            submit.trigger('click');
          }
        }); 
      }
    };
    
    $('.layui-btn.layuiadmin-btn-useradmin').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });
  });
  </script>
</body>
</html>
