<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>layuiAdmin std - 通用后台管理模板系统（iframe标准版）</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--  <link rel="stylesheet" href="../layuiadmin/layui/css/layui.css" media="all">-->
<!--  <link rel="stylesheet" href="../layuiadmin/style/admin.css" media="all">-->

  <link rel="stylesheet" th:href="@{layui/css/layui.css}" media="all">
  <link rel="stylesheet" th:href="@{style/admin.css}" media="all">
  
  <script>
  /^http(s*):\/\//.test(location.href) || alert('请先部署到 localhost 下再访问');
  </script>
</head>
<body class="layui-layout-body">
  
  

<!--  <script src="../layuiadmin/layui/layui.js"></script>-->
  <script th:src="@{layui/layui.js}"></script>
</body>
</html>


